<div class='dashboard'>
  <h1>Hi <%= @user.firstname %>,</h1>
  <h4>To alert your emergency contact: <%= @user.e_num1 %>, enter and exit from sleep mode on your UP24 band</h4>
  <%=render 'layouts/alertprocess'%>


<br>
<%= link_to 'Edit Profile', edit_user_path(@user), :class => 'btn btn-lg btn-empty' %>
</div>
