<div class='container'>
    <h1>Static#home</h1>
    <p>Find me in app/views/static/home.html.erb <%=session[:hex]%></p>
    <%if session[:hex].present? %>
        <%=link_to "Log out", session_destroy_path, method: :delete, class: 'btn btn-primary'%>
    <%else%>
        <%=link_to 'Signup', "https://jawbone.com/auth/oauth2/auth?response_type=code&client_id=Xv1L6lEDVng&scope=basic_read move_read  sleep_read&redirect_uri=http://dushi-27-144774.use1.nitrousbox.com/static/connect", :class => 'btn btn-default'%>    
        <%=link_to 'Login',session_show_path, :class => 'btn btn-primary'%>
    <%end%>
</div>
