<div class="row">
  <div class="col-lg-8 col-lg-offset-2 text-center">
    <h2 class="section-heading">About Us</h2>
    <hr>
    <h4 >We're a group of Harvard, MIT, and Clark affiliates working on a 
     platform for using wearable devices to empower people to overcome the barriers to the 
     bystander intervention. For example, by allowing discrete signaling to friends that "this 
     person really IS bothering me." It extends the use of fitness bands as a safty alert system 
     that enable your Jawbone UP24 fitness tracker to send out a pre set text message to contacts. </h4>
    <div class='row'>
      <div class='col-md-6'><%=link_to image_tag('cf.png'), 'http://bit.ly/1fjf6vS', :target => '_blank'%></div>
      <div class='col-md-6'><%=link_to image_tag('bbj.png'), 'http://bit.ly/1JaqMZI', :target => '_blank'%></div>
    </div>
    <div class='row'>
      <div class='col-md-6'><%=link_to image_tag('mt.png'), 'http://bit.ly/1hgVk6a', :target => '_blank'%></div>
      <div class='col-md-6'><%=link_to image_tag('self.png'), 'http://on.self.com/1HQbb0c', :target => '_blank'%></div>
    </div>
  </div>
</div>