<div class="header-content">
  <div class="header-content-inner">
    <h1>Alert your network with the simple press of your Jawbone fitness tracker</h1>
    <hr>
    <p>Winner of the 2014 Clinton Foundation Codeathon</p>
    <a href="#about" class="btn btn-xl page-scroll" style='color:white; border:2px solid white;'>Learn More</a>
    <%=link_to 'TRY IT', @url, :class => 'btn btn-xl btn-default page-scroll'%>
   
  
  </div>
</div>