<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h2 class="section-heading">How It Works</h2><hr>
      <h4>SafeMe enable your UP24 band to work as a safty alert system. You can sign up to Safeme via 
      Jawbone and make sure to enter your phone and your emergency contact's phone. In case of an 
      threatening situation you can Enter and Exit from sleep mode in UP24 band with in one minute. PLEASE 
      NOTE: currently SafeMe is a beta product.</h4><br>
      <%=render 'layouts/alertprocess'%>
    </div>
  </div>
</div>