<!DOCTYPE html>
<html lang="en">
<head>
  <%=render 'layouts/meta_tags'%>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  <%=render 'layouts/shim'%>
</head>

<body id="page-top">
<%= yield %> 
</body>
</html>
